<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="../css/misprimerosestilos.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div th:if="${reserva!=null} AND ${reserva.cobro!=null}">
		<h3> Vehiculo disponible</h3>
		<h4> total a pagar: </h4>
		<h4 th:text="${#numbers.formatDecimal(reserva.cobro.valorTotalPagar,1,2)}"></h4>
	</div>
	<h1>Pagar vehículo</h1>
	<!--<div class="alert alert-success" role="alert" th:text="${mensaje}" th:if="${mensaje!=null}"> </div>-->
	<form th:action="@{/empleados/reservar/pagarVehiculo}" th:object="${reserva}" th:method="put">
		<div class="table table-dark table-striped">
			<table>
				<tr>
					<td>
						<label class="col-form-label">Placa:</label>
					</td>
					<td>
						<input class="form-control" type="text" id="placa" th:field="*{vehiculo.placa}">
					</td>
				</tr>
				<tr>
					<td>
						<label>Cedula:</label>
					</td>
					<td>
						<input class="form-control" type="text" id="cedula" th:field="*{cliente.cedula}">
					</td>
				</tr>
				<tr>
					<td>
						<label>Fecha inicio:</label>
					</td>
					<td>
						<input class="form-control" type="datetime-local" id="fechai" th:field="*{fechaInicio}">
					</td>
				</tr>
				<tr>
					<td>
						<label>Fecha fin:</label>
					</td>
					<td>
						<input class="form-control" type="datetime-local" id="fechaf" th:field="*{fechaFin}">
					</td>
				</tr>
				<tr>
					<td>
						<label>Ingrese numero de tarjeta de crédito:</label>
					</td>
					<td>
						<input type="text" id="tarjeta" th:field="*{cobro.tarjeta}">
					</td>
				</tr>

				<tr>
				</tr>
			</table>
		</div>
		<input type="submit" value="Pagar">
	</form>


</body>



</html>