<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="../css/misprimerosestilos.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Reporte de Vehiculos VIP</h1>
	<form th:action="@{/reportes/reporteVehiculosVIPMostrar}" th:object="${mesAnio}" method="get">
		<div class="table table-dark table-striped">
		<table>
			<tr>
				<td>
					<label>Año:</label>
				</td>
				<td>
					<input type="number" step="1" id="anio" th:value="2022" th:field="*{anio}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Mes:</label>
				</td>
				<td>
					
					<select th:name="mes" id="mes" th:field="*{mes}">
						<option th:value="seleccionar" text="Seleccionar"></option>
						<option th:value="1" th:text="Enero"></option>
						<option th:value="2" th:text="Febrero"></option>
						<option th:value="3" th:text="Marzo"></option>
						<option th:value="4" th:text="Abril"></option>
						<option th:value="5" th:text="Mayo"></option>
						<option th:value="6" th:text="Junio"></option>
						<option th:value="7" th:text="Julio"></option>
						<option th:value="8" th:text="Agosto"></option>
						<option th:value="9" th:text="Septiembre"></option>
						<option th:value="10" th:text="Octubre"></option>
						<option th:value="11" th:text="Noviembre"></option>
						<option th:value="12" th:text="Diciembre"></option>
					</select>
				</td>
			</tr>
			
			<tr>
			</tr>
		</table>
		</div>
		<input class="btn btn-outline-dark" type="submit" value="Consultar">
	</form>
	

</body>



</html>